<h1>Artículos</h1>
<ul>
    {% for articulo in articulos %}
        <li><a href="{{ path('nuevo_bundle_articulo_seleccionado', {'id': articulo.id}) }}">{{ articulo.title }}</a></li>
    {% endfor %}
</ul>
